@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f37521; /* orangeish */
  --secondary-color: #ffcc00; /* yellowish */
  --background-color: #eceded;
  --card-color: #2d4754;
  --text-dark: #0e1111;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--secondary-color);
  text-align: center;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  background: linear-gradient(
    to right,
    #ff7b5a,
    #ff944d,
    #ffae00,
    #ffcc00,
    #ffd700,
    #ffe135,
    #fff9b1 /* pale yellow */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-dark);
}

.nav__logo {
  display: flex;
  align-items: center;
}

.fox-letters {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: 600;
  color: #f37521; /* Reddish yellowish color */
}

.fox-logo {
  width: 50px; /* Adjust the width of the fox logo container */
  height: 50px; /* Adjust the height of the fox logo container */
  margin: 0 0; /* Adjust the margin as needed */
}

.fox-logo img {
  width: 100%; /* Make the fox logo image fill its container */
  height: 100%; /* Make the fox logo image fill its container */
  object-fit: contain; /* Maintain aspect ratio */
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  font-size: 0.9rem;
}

.nav__links a {
  position: relative;
  color: var(--text-dark);
  transition: color 0.3s;
}

.nav__links a:hover {
  color: #059669;
}

.nav__links a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s;
}

.nav__links a:hover::before {
  width: 100%;
}

.nav__toggle {
  display: none;
}

.nav__burger {
  cursor: pointer;
  display: none;
}

.nav__burger span {
  background-color: var(--text-dark);
  display: block;
  height: 2px;
  margin-bottom: 6px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.nav__toggle:checked + .nav__burger span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav__toggle:checked + .nav__burger span:nth-child(2) {
  opacity: 0;
}

.nav__toggle:checked + .nav__burger span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header__container {
  padding-top: 18rem;
  text-align: center;
}

.header__container img {
  /* Adjust the positioning and size of the background image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%; /* Reduce the maximum width of the background image */
  height: auto; /* Allow the height to adjust proportionally */
  object-fit: cover; /* Ensure the image covers the entire header */
  z-index: -1; /* Move the image behind the text */
}

.header__container .section__header {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.header__container .section__header span {
  -webkit-text-stroke: 1.5px var(--text-dark);
  -webkit-text-fill-color: var(--background-color);
}

.header__container p {
  max-width: 900px;
  margin: 1rem auto 2rem;
  color: var(--text-dark);
}

.header__container .paragraph__text h3 {
  color: var(--white);
}

.service__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
  padding: 0 1rem;
}

.service__card {
  padding: 2rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  border: 2px solid #028618;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.service__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service__icon {
  margin-bottom: 1.5rem;
  height: 60px;
  width: 60px;
  display: grid;
  place-content: center;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.service__icon img {
  max-width: 40px;
  max-height: 40px;
}

.service__card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #59c39a;
}

.service__card p {
  color: var(--white);
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.service__card a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #59c39a;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.service__card a:hover {
  color: var(--secondary-color);
}

.service__card .arrow-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.service__card a:hover .arrow-icon {
  transform: translateX(5px);
}

/* Styles for the video section */
.video__container {
  padding: 8% 0;
  text-align: center;
  margin: auto;
}

.video__container .section__subheader {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10%;
  /* margin-bottom: 10%; */
}

.video__container .section__header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.video__wrapper {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.scraping__container {
  width: 90%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  overflow-x: auto;
  margin: 0 auto;
}

.scraping__container form {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  gap: 1rem; /* Space between items */
}

.scraping__container .input__container {
  width: 100%; /* Make input container full width */
}

.scraping__container label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.scraping__container input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.scraping__container button {
  width: 20%; /* Make button full width */
  padding: 0.5rem 1rem; /* Adjust padding for a better look */
  align-self: center; /* Center the button horizontally */
  background-color: #28a745; /* Green background color */
}

.table__container {
  margin-top: 20px;
  max-height: 400px; /* Set a fixed height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
  min-width: 30px; /* Decreased minimum width */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis for overflow */
}

thead th {
  background-color: var(--primary-color);
  color: var(--white);
  position: sticky; /* Make table headers sticky */
  top: 0; /* Position the sticky headers at the top */
  z-index: 1; /* Ensure the headers stay above the table body */
}

.template__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.template__container .section__subheader {
  text-align: left;
}

.template__container .section__header {
  margin-bottom: 1rem;
  text-align: left;
}

.template__container .description {
  color: var(--text-dark);
  margin-bottom: 2rem;
}

.template__image {
  text-align: center;
}

.template__image img {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
}

.pricing__container {
  background-color: var(--background-color);
  padding: 5rem 1rem;
}

.pricing__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pricing__card {
  background-color: var(--card-color);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.pricing__card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.price span {
  font-size: 1rem;
}

.pricing__card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.pricing__card ul li {
  color: var(--white);
  margin-bottom: 0.5rem;
}

.pricing__card a {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pricing__card a:hover {
  background-color: var(--secondary-color);
}

.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.client__card {
  padding: 1.5rem;
  background-color: var(--card-color);
  border-radius: 1rem;
}

.client__card img {
  margin-bottom: 1rem;
  max-width: 60px;
  border: 2px solid var(--white);
  border-radius: 100%;
}

.client__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #59c39a;
}

.client__card p {
  font-size: 1rem;
  color: var(--white);
}

.question__accordian {
  max-width: 900px;
  margin: 4rem auto 0;
  display: grid;
  gap: 1rem;
}

.question__box {
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  color: var(--white);
}

.question__box .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
  color: #59c39a;
}

.question__box .title .icon {
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.question__box .content {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.question__box.active .content {
  height: 90px;
  padding-top: 1rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer__col {
  margin-bottom: 1rem;
}

.footer__logo-col .footer__logo img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.footer__links-col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.footer__links-col p {
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__links-col p:hover {
  color: var(--primary-color);
}

.footer__links-col p span {
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.footer__socials-col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials span {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-dark);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  color: var(--white);
}

.footer__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--text-dark);
}

.footer__bar p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .nav__burger {
    display: block;
  }

  .nav__toggle:checked + .nav__burger + .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: -100;
    right: 0;
    background-color: var(--background-color);
    padding: 1rem;
    z-index: 100;
  }

  .nav__toggle:checked + .nav__burger + .nav__links .link {
    text-align: center;
  }

  .header__container {
    padding-top: 10rem;
  }

  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .template__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .template__content,
  .template__content :is(.section__subheader, .section__header) {
    text-align: center;
  }

  .template__image {
    grid-area: 1/1/2/2;
  }

  .client__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .question__box.active .content {
    height: 135px;
  }

  .scraping__container table {
    display: block;
  }
}

@media (width < 600px) {
  /* .scraping__container table {
    display: block;
  } */

  .header__container {
    padding-top: 10rem;
  }

  .header__container .section__header {
    font-size: 4rem;
    line-height: 5rem;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .question__box.active .content {
    height: 180px;
  }

  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__bar {
    flex-direction: column;
    text-align: center;
  }

  .fox-logo img {
    max-width: 30px; /* Reduce fox logo size on smaller screens */
    max-height: auto; /* Maintain aspect ratio */
  }

  .footer__col h4 {
    font-size: 0.8rem; /* Reduce the font size of footer headings on smaller screens */
  }

  .footer__col p {
    font-size: 0.9rem; /* Reduce the font size of footer paragraphs on smaller screens */
  }

  .footer__bar p {
    font-size: 0.8rem; /* Reduce the font size of footer bar text on smaller screens */
  }
}
